.hidden {
    display: none;
}

.shape-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.shape-box {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.shape-box:hover {
    border-color: #999;
}

.shape-box.selected {
    border-color: #ff0077;
    background: #ffe6f1;
}

.shape-img {
    width: 120px;
    pointer-events: none;   /* VERY IMPORTANT */
}

/* Output frock */
.frock-mask {
    width: 280px;
    height: 380px;
    background-size: cover;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
