.hidden { display: none; }

.shape-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.shape {
    width: 120px;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.shape:hover {
    opacity: 1;
}

.shape.selected {
    border: 3px solid #ff0077;
    opacity: 1;
}

/* Output frock box */
.frock-mask {
    width: 280px;
    height: 380px;
    margin-top: 20px;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
